<h1>Welcome to <%= @amusement_park.name %></h1>
<p>Admissions: <%= number_to_currency(@amusement_park.admission_price) %><p/>

<section>
  <p>Rides:</p>
  <ol>
    <% @amusement_park.alphabetical_order.each do |ride| %>
        <li><%= ride.name %></li>
    <% end %>
  </ol>
</section>

<p>Average Thrill Rating of Rides: <%= @amusement_park.average_thrill_rating %>/10"</p>
