<h1>Welcome to <%= @amusement_park.name %></h1>
<p>Admissions: <%= number_to_currency(@amusement_park.admission_price) %><p/>

<section>
  <p>Rides: <% @amusement_park.alphabetical_order.each do |ride| %></p><br>
    <ol>
      <li><%= ride.name %></li>
    </ol>
  <% end %>
</section>
